body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    margin-top: 50px ;
}

#score {
    margin-top: 100px;
    color: #fefefe;
    font-size: 50px;
}

#recommencer {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefefe;
    margin-top: 50px;
    display: none;
}
